In [85]:
import pandas as pd

In [101]:
df_rat = pd.read_csv("./ml-25m/ratings.csv")
df_mov = pd.read_csv("./ml-25m/movies.csv")

In [123]:
df_desc = pd.read_csv("./description-final.csv")

In [124]:
df_desc

,title,description,movieId
0,Waiting for Lightning,A documentary on pro skateboarder Danny Way's ...,99513
1,Yesterday's Enemy,"In World War II, during the Japanese invasion ...",99515
2,Young People,A show-business family leaves the Great White ...,99517
3,Henry,Henry is a cynical man who owns a musical inst...,99519
4,L'incruste,A small crook manages to crash at a musician's...,99521
...,...,...,...
43322,Wij,Eight teens - four guys and four girls - are t...,209157
43323,Janela da Alma,Nineteen people with differing degrees of visu...,209159
43324,Rossz versek,"33-years old Tamás Merthner is heartbroken, af...",209163
43325,A Girl Thing,An NYC shrink sees four different women with d...,209169
43326,Le prigioniere dell'isola del diavolo,Female prisoners are shipped to Devil's Island...,209171

In [127]:
df_desc = pd.merge(df_desc, df_mov, on='movieId', how='left')

In [128]:
df_desc.drop(['title_x', 'title_y_'])
df_desc

,title_x,description,movieId,title_y,genres_x,title,genres_y
0,Waiting for Lightning,A documentary on pro skateboarder Danny Way's ...,99513,Waiting for Lightning (2012),Documentary,Waiting for Lightning (2012),Documentary
1,Yesterday's Enemy,"In World War II, during the Japanese invasion ...",99515,Yesterday's Enemy (1959),Drama|War,Yesterday's Enemy (1959),Drama|War
2,Young People,A show-business family leaves the Great White ...,99517,Young People (1940),Drama,Young People (1940),Drama
3,Henry,Henry is a cynical man who owns a musical inst...,99519,Henry (2010),Comedy,Henry (2010),Comedy
4,L'incruste,A small crook manages to crash at a musician's...,99521,"Incruste, L' (a.k.a. L'Incruste, fallait pas l...",Comedy,"Incruste, L' (a.k.a. L'Incruste, fallait pas l...",Comedy
...,...,...,...,...,...,...,...
43322,Wij,Eight teens - four guys and four girls - are t...,209157,We (2018),Drama,We (2018),Drama
43323,Janela da Alma,Nineteen people with differing degrees of visu...,209159,Window of the Soul (2001),Documentary,Window of the Soul (2001),Documentary
43324,Rossz versek,"33-years old Tamás Merthner is heartbroken, af...",209163,Bad Poems (2018),Comedy|Drama,Bad Poems (2018),Comedy|Drama
43325,A Girl Thing,An NYC shrink sees four different women with d...,209169,A Girl Thing (2001),(no genres listed),A Girl Thing (2001),(no genres listed)
43326,Le prigioniere dell'isola del diavolo,Female prisoners are shipped to Devil's Island...,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devil's Island (1962),Action|Adventure|Drama

In [113]:
df_desc = df_desc.dropna()

In [121]:
df_desc['D'] = df_desc.apply(lambda x: '_'.join(x.astype(str)), axis=1)

In [122]:
df_desc

,title_x,description,movieId,title_y,genres_x,title_x,genres_y,title_y,genres,D
0,Waiting for Lightning,A documentary on pro skateboarder Danny Way's ...,99513,Waiting for Lightning (2012),Documentary,Waiting for Lightning (2012),Documentary,Waiting for Lightning (2012),Documentary,Waiting for Lightning_A documentary on pro ska...
1,Yesterday's Enemy,"In World War II, during the Japanese invasion ...",99515,Yesterday's Enemy (1959),Drama|War,Yesterday's Enemy (1959),Drama|War,Yesterday's Enemy (1959),Drama|War,"Yesterday's Enemy_In World War II, during the ..."
2,Young People,A show-business family leaves the Great White ...,99517,Young People (1940),Drama,Young People (1940),Drama,Young People (1940),Drama,Young People_A show-business family leaves the...
3,Henry,Henry is a cynical man who owns a musical inst...,99519,Henry (2010),Comedy,Henry (2010),Comedy,Henry (2010),Comedy,Henry_Henry is a cynical man who owns a musica...
4,L'incruste,A small crook manages to crash at a musician's...,99521,"Incruste, L' (a.k.a. L'Incruste, fallait pas l...",Comedy,"Incruste, L' (a.k.a. L'Incruste, fallait pas l...",Comedy,"Incruste, L' (a.k.a. L'Incruste, fallait pas l...",Comedy,L'incruste_A small crook manages to crash at a...
...,...,...,...,...,...,...,...,...,...,...
43322,Wij,Eight teens - four guys and four girls - are t...,209157,We (2018),Drama,We (2018),Drama,We (2018),Drama,Wij_Eight teens - four guys and four girls - a...
43323,Janela da Alma,Nineteen people with differing degrees of visu...,209159,Window of the Soul (2001),Documentary,Window of the Soul (2001),Documentary,Window of the Soul (2001),Documentary,Janela da Alma_Nineteen people with differing ...
43324,Rossz versek,"33-years old Tamás Merthner is heartbroken, af...",209163,Bad Poems (2018),Comedy|Drama,Bad Poems (2018),Comedy|Drama,Bad Poems (2018),Comedy|Drama,Rossz versek_33-years old Tamás Merthner is he...
43325,A Girl Thing,An NYC shrink sees four different women with d...,209169,A Girl Thing (2001),(no genres listed),A Girl Thing (2001),(no genres listed),A Girl Thing (2001),(no genres listed),A Girl Thing_An NYC shrink sees four different...
43326,Le prigioniere dell'isola del diavolo,Female prisoners are shipped to Devil's Island...,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devil's Island (1962),Action|Adventure|Drama,Le prigioniere dell'isola del diavolo_Female p...

In [90]:
df_mov

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [91]:
df_desc

,title,description,movieId
0,Waiting for Lightning,A documentary on pro skateboarder Danny Way's ...,99513
1,Yesterday's Enemy,"In World War II, during the Japanese invasion ...",99515
2,Young People,A show-business family leaves the Great White ...,99517
3,Henry,Henry is a cynical man who owns a musical inst...,99519
4,L'incruste,A small crook manages to crash at a musician's...,99521
...,...,...,...
43322,Wij,Eight teens - four guys and four girls - are t...,209157
43323,Janela da Alma,Nineteen people with differing degrees of visu...,209159
43324,Rossz versek,"33-years old Tamás Merthner is heartbroken, af...",209163
43325,A Girl Thing,An NYC shrink sees four different women with d...,209169
43326,Le prigioniere dell'isola del diavolo,Female prisoners are shipped to Devil's Island...,209171

In [92]:
df_rat_mov = pd.merge(df_rat, df_desc, on="movieId", how="inner")

In [93]:
df_rat_mov =df_rat_mov.sort_values(by='userId', ascending=True)
df_rat_mov

,userId,movieId,rating,timestamp,title,description
0,3,101864,4.0,1439474698,Oblivion,A veteran assigned to extract Earth's remainin...
498249,3,135536,3.5,1566090614,Suicide Squad,A secret government agency recruits some of th...
493840,3,135143,3.5,1566090422,Fantastic Beasts and Where to Find Them,The adventures of writer Newt Scamander in New...
489790,3,135133,3.5,1484755332,The Hunger Games: Mockingjay - Part 2,Katniss and a team of rebels from District 13 ...
476210,3,134853,4.0,1439472519,Inside Out,After young Riley is uprooted from her Midwest...
...,...,...,...,...,...,...
18249,162538,102407,3.5,1438785482,The Great Gatsby,"A writer and wall street trader, Nick, finds h..."
895069,162538,126548,4.0,1438784697,The Duff,A high school senior instigates a social pecki...
355693,162538,116797,4.5,1438781121,The Imitation Game,"During World War II, the English mathematical ..."
277536,162538,112556,3.5,1438784733,Gone Girl,With his wife's disappearance having become th...
1110682,162538,102993,4.5,1438785297,The Way Way Back,Shy 14-year-old Duncan goes on summer vacation...

In [94]:
df_rat_mov_3 = df_rat_mov[df_rat_mov['userId'] == 3]

In [97]:
df_rat_mov_3 = df_rat_mov_3.sort_values(by='rating', ascending=False)
df_rat_mov_3

,userId,movieId,rating,timestamp,title,description
253540,3,112552,5.0,1439472513,Whiplash,A promising young drummer enrolls at a cut-thr...
507784,3,136449,5.0,1484753762,Kôkaku kidôtai 2.0,A hacker known as the Puppet Master is hunted ...
264719,3,112556,5.0,1439473517,Gone Girl,With his wife's disappearance having become th...
327627,3,115713,4.5,1439474672,Ex Machina,A young programmer is selected to participate ...
581873,3,176371,4.5,1566090291,Blade Runner 2049,Young Blade Runner K's discovery of a long-bur...
...,...,...,...,...,...,...
83544,3,105213,3.0,1566091330,Don Jon,"A New Jersey guy dedicated to his family, frie..."
590299,3,182823,3.0,1566089510,Bright,A detective must work with an Orc to find a po...
101129,3,106487,3.0,1439473752,The Hunger Games: Catching Fire,Katniss Everdeen and Peeta Mellark become targ...
29762,3,102880,3.0,1439474833,After Earth,A crash landing leaves Kitai Raige and his fat...
212350,3,111113,2.5,1566091177,Neighbors,After they are forced to live next to a frater...

In [98]:
df_rat_mov_3 = df_rat_mov_3[:100]

In [100]:
df_rat_mov_3.head(20)

,userId,movieId,rating,timestamp,title,description
253540,3,112552,5.0,1439472513,Whiplash,A promising young drummer enrolls at a cut-thr...
507784,3,136449,5.0,1484753762,Kôkaku kidôtai 2.0,A hacker known as the Puppet Master is hunted ...
264719,3,112556,5.0,1439473517,Gone Girl,With his wife's disappearance having become th...
327627,3,115713,4.5,1439474672,Ex Machina,A young programmer is selected to participate ...
581873,3,176371,4.5,1566090291,Blade Runner 2049,Young Blade Runner K's discovery of a long-bur...
118851,3,106782,4.5,1439473659,The Wolf of Wall Street,"Based on the true story of Jordan Belfort, fro..."
68805,3,104243,4.5,1439474932,Riddick,"Left for dead on a sun-scorched planet, Riddic..."
594096,3,187593,4.5,1566090414,Deadpool 2,Foul-mouthed mutant mercenary Wade Wilson (a.k...
214371,3,111360,4.0,1439474812,Lucy,"A woman, accidentally caught in a dark deal, t..."
134583,3,106920,4.0,1439473802,Her,"In a near future, a lonely writer develops an ..."
163815,3,109374,4.0,1439473513,The Grand Budapest Hotel,A writer encounters the owner of an aging high...
85343,3,106002,4.0,1439475028,Ender's Game,Young Ender Wiggin is recruited by the Interna...
89095,3,106072,4.0,1439474862,Thor: The Dark World,When the Dark Elves attempt to plunge the univ...
94346,3,106100,4.0,1439474311,Dallas Buyers Club,"In 1985 Dallas, electrician and hustler Ron Wo..."
155367,3,108932,4.0,1439474156,The Lego Movie,"An ordinary LEGO construction worker, thought ..."
5339,3,102125,4.0,1439474937,Iron Man Three,When Tony Stark's world is torn apart by a for...
340174,3,116797,4.0,1439472522,The Imitation Game,"During World War II, the English mathematical ..."
219238,3,111362,4.0,1439473863,X-Men: Days of Future Past,The X-Men send Wolverine to the past in a desp...
362116,3,116897,4.0,1439472527,Relatos salvajes,Six short stories that explore the extremities...
511417,3,139385,4.0,1566089976,The Revenant,A frontiersman on a fur trading expedition in ...

In [38]:
df_user_1 = pd.DataFrame(columns=['Action','Adventure','Animation',"Children's", "Comedy", "Crime","Documentary","Drama","Fantasy","Film-Noir","Horror","Musical","Mystery","Romance","Sci-Fi","Thriller","War","Western"])
df_user_1

Empty DataFrame
Columns: [Action, Adventure, Animation, Children's, Comedy, Crime, Documentary, Drama, Fantasy, Film-Noir, Horror, Musical, Mystery, Romance, Sci-Fi, Thriller, War, Western]
Index: []

In [43]:
for index, movie in df_rat_mov.iterrows():
    Action=0
    Adventure=0
    Animation=0
    Children=0
    Comedy=0
    Crime=0
    Documentary=0
    Drama=0
    Fantasy=0
    FilmNoir=0
    Horror=0
    Musical=0
    Mystery=0
    Romance=0
    SciFi=0
    Thriller=0
    War=0
    Western=0

    genres = movie['genres']

    if 'Action' in genres:
        Action=1
    if 'Adventures' in genres:
        Adventure=1
    if 'Animation' in genres:
        Animation=1
    if "Children's" in genres:
        Children=1
    if 'Comedy' in genres:
        Comedy=1
    if 'Crime' in genres:
        Crime=1
    if 'Documentary' in genres:
        Documentary=1
    if 'Drama' in genres:
        Drama=1
    if 'Fantasy' in genres:
        Fantasy=1
    if 'Film-Noir' in genres:
        FilmNoir=1
    if 'Horror' in genres:
        Horror=1
    if 'Musical' in genres:
        Musical=1
    if 'Mystery' in genres:
        Mystery=1
    if 'Romance' in genres:
        Romance=1
    if 'Sci-Fi' in genres:
        SciFi=1
    if 'Thriller' in genres:
        Thriller=1
    if 'War' in genres:
        War=1
    if 'Western' in genres:
        Western=1
    
    df_user_1 = df_user_1.append({
        "Action":Action,
        "Adventure": Adventure,
        "Animation": Animation,
        "Children's": Children,
        "Comedy": Comedy,
        "Crime":Crime,
        "Documentary":Documentary,
        "Drama": Drama,
        "Fantasy": Fantasy,
        "Film-Noir":FilmNoir,
        "Horror":Horror,
        "Musical": Musical,
        
    })

NameError: name 'ac' is not defined

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

# Sample sentences
sentence1 = "The cat in the hat."
sentence2 = "The dog chased the cat."

# Tokenize sentences
set1 = set(word_tokenize(sentence1))
set2 = set(word_tokenize(sentence2))
print(set1)
# Calculate Jaccard similarity
intersection = len(set1.intersection(set2))
union = len(set1.union(set2))
jaccard_similarity = intersection / union

print(jaccard_similarity)

{'The', 'in', 'cat', 'hat', 'the', '.'}
0.5

[nltk_data] Downloading package punkt to /Users/aryuska/nltk_data...
[nltk_data]   Package punkt is already up-to-date!